.footer__wrapper {
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    background-color:$whiteF8 ;
    .global__container {
        display: flex;
        justify-content: space-between;
    }
}
.global__content {
    text-align: left;
    max-width: 23rem;
    .global_followers {
        color: $black;
        margin-bottom: 1rem;
        border-bottom: 1px solid $gray;
        .foot_15 {
            font-weight: 700;
            font-size: 36px;
            line-height: 30px;
        }
        .foot_k {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
        }
        .foot_foll {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            text-transform: uppercase;
        }
    }
    .global_socials {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: $gray;
        margin-bottom: 2rem;
    }
    .footer_input {
        box-sizing: border-box;
        max-width: 15rem;
        height: 3.43rem;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $gray;
        background-color: transparent;
        border: 1px solid $gray;
        border-right: none;
    }
    .footer_btn {
        position: absolute;
        box-sizing: border-box;
        width:8rem;
        height: 3.44rem;
        background-color: $aqua;
        color: $white;
        border: 1px solid $gray;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }
}
.global__item {
    display: flex;
    margin-bottom: 1rem;
    text-align: left;
    .global__logo_blogs {
        display: flex;
    }
}
.global_title.foot {
    text-align: left;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.global__text_blogs {
    padding-left: 2rem;
    & h5 {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        max-width: 16.8rem;
    }
    & p {
        margin: .5rem 0 0 0;
    }
}
.global__item.inst {
    display: flex;
    flex-wrap: wrap;
    max-width: 16.875rem;
}
.global_link {
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-decoration: underline;
    text-transform: uppercase;
    color: $black;
}
.footer_hr {
    max-width: 1170px ;
    text-align: center;
    border-bottom: 1px solid $gray;
}
.footer_last_text {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
}

