.global__wrapper{
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    text-align: center;
}
.main__container {
    position: relative;
    width: 100%;
    max-width:1170px;
    margin: 0 auto;
    text-align: center;
    margin-top:2.5em; 
    color: $black;
    .meet__card {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
        .card__container {
            position: relative;
            background-color: #95e1d3;
        }
        .card__item {
            position: relative;
            width: 33.3333333%;
            padding: 0 1rem;
            &:hover .card__img {
                transform: translate3d(-10px, -10px, 0);
            }
        }
        .card__item:hover .card__img img {
            opacity: .1;
        }
        .card__item:hover .card__text {
            opacity: .9;
        }
        .card__img {
            background: linear-gradient(to bottom, #f38181, #fce38a);
            transition: transform .2s linear;
        }
        .card__img img {
            display: block;
            max-width: 100%;
            height: auto;
            transition: opacity .1s linear;
        }
        .card__text {
            width: 100%;
            font-size: 18px;
            color: $white;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 2;
            transform: translate3d(0, -50%, 0);
            transition: opacity .6s linear;
        }
    }

}
.main__counter {
    display: flex;
    justify-content: space-between;
    background-color: $aqua;
    width: 100%;
    max-width: 1510px;
    .counter_content {
        border-left: 1px solid $white;
        padding:2.3rem 2.6rem 2.3rem 2.6rem;
        &:first-child {
            margin-left: 10.625rem;
        }
        &:last-child {
            margin-right: 10.625rem;
            border-right:1px solid $white;
        }
        .counter_title {
            color: $white;
            font-weight: 700;
            font-size: 64px;
            line-height: 75px;
            text-align: center;
            align-items: center;
        }
        .counter_txt {
            color: $white;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            vertical-align:center;
        }
    }
    
}





