@media screen and (max-width:1510px) {
    html {
        width: 100%;
        max-width: 1200px;
        box-sizing: border-box;
    }

    //section work
    .work__container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        .work__item.small img {
            display: block;
            width: 300px;
        }
        .work__item.big img{
            width: 299px;
        }
    }

}
@media screen and (max-width:1200px) {
    html {
        width: 100%;
        max-width: 1200px;
        box-sizing: border-box;
    }

    // header
    .header__logo {
        margin-left: 2rem;
    }
    .header_nav {
        margin-right: 2rem;
    }
    .header__title {
        height: 600px;
    }
    .header__about {
        display: flex;
        justify-content: space-around;
        .about__content {
            width: 100%;
            max-width: 13rem;
            .about_intro {
                padding-right: 4rem;
                & span:last-child {
                    font-size:16px ;
                }
            }
        }
    }

    // section main (story about)
    .card__img.meet {
        width: 100%;
    }
    .card__item:first-child {
        margin-left: 1rem;
    }
    .card__item:last-child {
        margin-right: 1rem;
    }
    .card__img:first-child {
        & img {
            width: 100%;
            max-width:323px;
            height: 290px;
        }
    }
    .card__text {
        max-width: 200px;
    }
    .card__item {
        flex: 0 1 29.6%;
    }

    // section main (main counter)
    .main__counter {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    
      .main__counter .counter_content:first-child {
        margin-left: 2rem;
      }  
      .main__counter .counter_content:last-child {
        margin-right: 2rem;
      } 

    //section design  
    .design .design__iphone{
        position: absolute;
        width: 100%;
        max-width: 200px;
        top: 15.6rem;
        left: 47.5rem;
    } 
    
    //section service
    .service_photo {
        margin-left: 1rem;
    }
    .service_photo img {
        width: 486px;
        height: 409px;
    }
    .service__content{
        .service__about {
            margin-right: 1rem;
        }
        .service_photography {
            padding: 1.08rem;
    }
        .service_creative {
            padding: 1.08rem;
    }
        .service_web{
            padding: 1.08rem;
        }
    }

    //section meet
    .card__img.meet {
        width: 100%;
    }
    .card__item:first-child {
        margin-left: 1rem;
    }
    .card__item:last-child {
        margin-right: 1rem;
    }
    .card__img:first-child {
        & img {
            height: auto;
        }
    }
    .card__text {
        max-width: 200px;
    }
    .card__item {
        flex: 0 1 27.6%;
    }

    //section work
    

    //section work
    .work__container {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        .work__item.small img {
            max-width: 255px;
            max-height: 256px;
        }
        .work__item.big img{
            width: 255px;
        }
    }

    //section people
    .people__content {
        margin-left: 1rem;
    }

    //section latest
    .latest__item {
        &:first-child{
            margin-left: 1rem;
        }
        &:last-child{
            margin-right: 1rem;
        }
    }
    .latest__img img {
        width: 316px;
        height: 214px;
    }
    .latest_title, .latest__text {
        max-width: 19.8rem;
    }

    //footer 
    .footer__content {
        width: 100%;
        max-width: 19.8rem;
        margin: 0 1rem;
        .footer_text p{
            font-size: 14px;
            margin: 0.2rem 0;
        }
        .footer_input{
            max-width: 13rem;
        }
        .footer_btn {
            max-width: 7rem;
        }
    }
    .footer__item {
        margin-bottom: 1.7rem;
        .footer__logo_blogs img {
            width: 115px;
            height: 71px;
        }
        .footer__text_blogs {
            padding-left: 1rem;
        }
    }
    .footer_link a{
        color: $black;
    }
}


@media screen and (max-width:1024px) {
    html {
        width: 100%;
        max-width: 769px;
        box-sizing: border-box;
    }

    //global elements

    .global_text {
        margin-left: 1rem;
    }
    .global_title {
        margin-bottom: 1rem;
    }
    .global_suptitle {
        margin-bottom: 0.8rem;
    }

    // header
    .container {
        width: 100%;
        max-width: 769px;
        margin: 0 auto;
    }
    .header__container {
        width: 100%;
        margin: 0 auto;
        .header__logo img {
            max-width: 14rem;
        }
    }
    .header__title {
        .title {
            font-size: 6rem;
        }
    }
    .header__about {
        width: 100%;
        max-width: 768px;
        justify-content: space-around;
        .about__content {
            max-width: 7rem;
            .about_intro {
                max-width: 100%;
                padding: 0;
                & span {
                    font-size: 15px;
                }
            }
        }    
    }


    //section main
    .main__counter {
        width: 100%;
        max-width: 1024px;
        .counter_content {
            padding: 1rem 1rem;
            &:first-child {
                margin: 0;
            }
            &:last-child {
                margin: 0;
            }
            .counter_title{
                font-size: 50px;
            } 
        }
    }
    .card__item {
        flex: 0 1 28.3%;
    }
    .card__item:last-child{
        margin-right: 1rem;
    }

    //section design
    .design {
        width: 100%;
        max-width: 1024px;
        .design__ipad_border {
            width: 100%;
            max-width: 43.75rem;
            margin: 0 auto;
        }
        .design__iphone {
            position: absolute;
            top: 15rem;
            left: 33rem;
        }
    }

    //section service
    .service__content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .service__about {
            margin-left: 1.5rem;
            margin-top: 1rem;
        }
    }

    // section meet
    .card__container {
        .card__img img {
            height: auto;
        }
    }

    //section work
    
    .work {
        .work__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .work__item.small{
                flex: 0 1 33%;
            }
            .work__item.big {
                flex: 0 1 35%;
            }
            
        }
    }
    

    //section people
    .people__container {
        .people__content {
            justify-content: space-evenly;
            margin-top: 1rem;
            .people__item {
                margin-top: .5rem;
                .people_text {
                    font-size: 15px;
                }
            }
        }
    }


    //section latest blog
    .latest__container {
        width: 100%;
        max-width: 769px;
        margin: 0 auto
    }
    .latest__content {
         width: 100%;
         max-width: 769px;
         flex-wrap: wrap;
         margin: 2rem auto;
         .latest__item {
             margin: 0 1rem 2rem 2rem;
             flex: 1 1 100%;
         }
         .latest__item img {
             width: 100%;
             height: auto;
         }
     }

     //footer

    .footer__container {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 350px;
        .footer__content_inst {
            flex: 0 1 100%;
            order: -2;
        }
        .footer__content_blo {
            flex: 0 1 100%;
            order: -3;
        }
        .footer__content {
            margin-bottom: 2rem;
        }
        .footer__content {
            flex: 0 1 100%;
        }
    }    
}



@media screen and (max-width:768px) {
    html {
        width: 100%;
        max-width: 768px;
        box-sizing: border-box;
    }
    // header
    .wrapper {
        width: 100%;
        height: 600px;
        max-width: 768px;
    }
    .header__title {
        height: auto;
        margin-bottom: 4rem;
    }
    .suptitle {
        font-weight: 400;
        font-size: 36px;
        line-height: 52px;
    }
    .header__title .title {
        margin-top: 1rem;
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 52px;
    } 
    .header__nav_link {
        display: none;
    }
    .hr_upbtn {
        margin: 2rem auto;
    }
    
    .header__title .header_btn {
        width: 100%;
        max-width: 17.8rem;
        height: 3.5rem;
        padding: 0;
        margin: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }
    
    .header__about {
        width: 100%;
        max-width: 425px;
        margin: 0 auto;
        .about__content {
            .about_intro {
                max-width: 80%;
                padding: 0;
                & span {
                    display: none;
                }
            } 
        }
    }

    //section main
    .global_text {
        margin: 1rem .6rem;
    }
    .main__container {
        width: 100%;
        max-width: 768px;
        .meet__card {
            justify-content:center;
            max-width: 768px;
            .card__item {
                width: 100%;
                flex: 0 1 90%;
                max-width: 30rem;
                margin-bottom: 1rem;
            }
            .card__item:first-child {
                margin-left: 0;
            }
            .card__item:last-child {
                margin-right: 0;
            }
        }
    }
    .main__counter {
        flex-wrap: wrap;
        align-items: center;
        align-self: center;
        .counter_content {
            flex: 0 1 43.2%;
            border: none;
            border-bottom: 1px solid $whiteF8;
            &:last-child {
                border: none;
                flex: 0 1 100%;
            }
        } 
    }


    //section amaizing

    .amazing__container {
        flex-direction: column;
        margin-bottom: 0;
        margin-left: 2rem;
        .content__img {
            flex: 0 1 45%;
        }
    }

    // section design

    .design {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        .design__ipad_border {
            background-image: url(../image/ipadmob.png);
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-position:  center;
            width: 29.6875rem;
        }
        .design__iphone {
            background-image: url(../image/iphonemob.png);
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-position: center top;
            position: absolute;
            top: 300px;
            left: 270px;
        }
    }

    // section service
    .service_photo img {
        width: 27rem;
        height: 19rem;
        margin-left: .7rem;
    }

    // section dialog
    .dialog__container {
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .dialog__wrapper {
        .dialog_item {
            background-image: none;
            flex: 0 1 60%;
        }
        .dialog_text {
            background-image: url(../image/dialog_arrow_left.png), url(../image/dialog_arrow_right.png);
            background-repeat: no-repeat;
            background-position: left  center, right center;
            margin-right: 1rem;
            padding-left: 4rem;
        }
    }

    //section meet

    
    .meet__wrapper {
        .meet__card {
            justify-content:center;
            max-width: 768px;
            .card__item {
                width: 100%;
                flex: 0 1 100%;
                max-width: 25rem;
                margin-bottom: 1rem;
            }
            .card__item:first-child {
                margin-left: 0;
            }
            .card__item:last-child {
                margin-right: 0;
            }
            .card__container {
                .card__img img{
                    max-width: 475px;
                }
            }
        }
        
    }
    

    //section icons

    .icons__wrapper {
        .icons__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }


    //section work
    .work__container {
        max-width: 475px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .work__item.small img {
            max-width: 228px;
            max-height: 229px;
        }
        .work__item.big img {
            max-width: 228.39px;
        }
    }

    //section people

    .people {
        .people__wrapper {
            width: 100%;
            max-width: 768px;
            background-repeat: repeat;
        } 
        .people__content {
            flex-direction: column;
            margin-right: 2rem;
            .people__item {
                margin-bottom: 1rem;
            }
        }
    }

    //section latest blog

    .latest__container {
        width: 100%;
        max-width: 769px;
        margin: 0 auto
    }
    .latest__content {
         width: 100%;
         max-width: 769px;
         flex-wrap: wrap;
         justify-content: center;
         margin: 2rem auto;
         .latest__item {
             margin: 0 1rem 2rem 2rem;
             flex: 1 1 100%;
         }
         .latest__item img {
             width: 100%;
             height: auto;
         }
     }
        
    
    
    





































}

  

