.work__wrapper{
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    .work__container{
        display: flex;
        flex-wrap: wrap;
    }
}
.work_img_1 {
    width: 377px;
    height: 378px;
}
.work_img_2 {
    width: 377px;
    height: 378px;
}
.work_img_3 {
}
.work_img_4 {
    width: 377px;
    height: 378px;
}
.work_img_5 {
    width: 377px;
    height: 378px;
}