.meet__wrapper {
    width: 100%;
    max-width:1170px;
    margin: 0 auto;
    text-align: center;
    .meet_name {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $black;
        margin-top: 1rem;
    }
    .meet_position {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: $black;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }
    
}
.meet__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5rem 0 0;
    .card__container {
        position: relative;
        background-color: #95e1d3;
    }
    .card__item {
        margin-bottom: 1rem;
        &:hover .card__img {
            transform: translate3d(-10px, -10px, 0);
        }
    }
    .card__item:hover .card__img img {
        opacity: .1;
    }
    .card__item:hover .card__text {
        opacity: .9;
    }
    .card__img {
        background: linear-gradient(to bottom, #f38181, #fce38a);
        transition: transform .2s linear;
    }
    .card__img img {
        display: block;
        transition: opacity .1s linear;
    }
    .card__text {
        width: 100%;
        font-size: 18px;
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        transform: translate3d(0, -50%, 0);
        transition: opacity .6s linear;
    }
    .card__social {
        display: flex;
        justify-content: center;
    }
    .social__item {
        box-sizing: border-box;
        font-size: 30px;
        width: 54px;
        height: 54px;
        padding: 10px;
        line-height: 1px;
        background-color: $yellow;
        color: $tomat;
        border-left: 1px solid $tomat;
        text-align: center;
        vertical-align: center;
        &:first-child {
            border-left: none;
        }
        &:hover {
        background-color: $tomat;
        color: $white;
        transition: background .5s linear, color .5s linear;
        }
    }
    
}

