@import "_color.scss";
@import "_fonts.scss";
@import "_h1-h6.scss";
@import "_header.scss";
@import "_main.scss";
@import "_section_amaizing.scss";
@import "_section_design.scss";
@import "_vars.scss";
@import "_section_service.scss";
@import "_section_meet.scss";
@import "_section_icons.scss";
@import "_section_work.scss";
@import "_section_dialog.scss";
@import "_section_people.scss";
@import "_section_latest.scss";
@import "_section_blog.scss";
@import "_footer.scss";
@import "_media.scss";



html{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    scroll-behavior: smooth;
}
body{
box-sizing: border-box;
max-width: 1510px;
margin: 0 auto;
font-family: 'Raleway', sans-serif;
}
a, button, link{
    cursor: pointer;
    text-decoration: none;
    color: $white;
}
