@import "_color.scss";
@import "_fonts.scss";
@import "_h1-h6.scss";
@import "_header.scss";
@import "_main.scss";
@import "_section_amaizing.scss";
@import "_section_design.scss";
@import "_vars.scss";
@import "_section_service.scss";





html{
    font-family: 'Raleway', sans-serif;
}
body{
box-sizing: border-box;
max-width: 1510px;
margin: 0 auto;
font-family: 'Raleway', sans-serif;
}
a, button, link{
    cursor: pointer;
    text-decoration: none;
    color: $white;
}

