body {
    width:1400px;
    height: 800px;
    box-sizing: border-box;
    margin: 0 auto;
}
.flex_container {
    display: flex;
    flex-direction: row;
}
.nav__wrapper {
    width: 71.5px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.7;
}
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-top: 10px;
}
.dot.first {
    margin-left: 10px;
}
.dot.second {
    background-color: yellow;
    margin: 0 5px;
}
.dot.third {
    background-color: green;
    margin-right: 10px;
}
.nav__btn {
    margin-top: 167.5px;
}