body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}
h3 {
    margin: 0;
    padding: 0;
}


/*          



*/

.header {
    background-image: url(./img/bgheader.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.header__content {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    margin-left: 3rem;
    margin-top: 2rem;
}
.header__nav {
    margin-top: 1.3rem;
    padding-right: 1rem;
    text-align: left;
    flex: 0 1 70%;
}
.header__nav ul {
    display: flex;

}
.header__nav li {
    padding-left: 1.4rem;
    font-size: 14px;
    line-height: 24px;
}
.header__nav a {
    color: #FFFEF2;
}
.header__nav a:hover {
    color: #daa520;
    border-bottom: 1px solid #daa520;
}
.header__basket {
    margin-right: 3rem;
    margin-top: 1.3rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
}
.header__basket ul {
    display: flex;
    justify-content: space-between;
}
.header__basket li {
    padding-left: 1.4rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFEF2;
}
.header__basket a {
    color: #FFFEF2;
}
.header__basket a:hover {
    color: #daa520;
    border-bottom: 1px solid #daa520;
}
.header__about {
    max-width: 25rem;
    margin-top: 7.5rem;
    margin-left: 15rem;
}
.header__about h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #FFFEF2;
}
.header__about p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFEF2;
    padding-bottom: 8rem;
}
.menu {
    margin: 0;
    padding: 0;
    background-color: #CFC7C0;
}
.menu__content {
    display: flex;
    justify-content: space-between;
}
.menu__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__card img {
    height: 15rem;
    margin-left: 3rem;
}
.menu__card_content {
    margin-left: 3rem;
    font-weight: 400;
    color: #333333;
    margin-right: 2.4rem;
}
.menu__card_content h2 {
    font-size: 28px;
    line-height: 40px;
}
.menu__card_content p:first-child {
    font-size: 16px;
    line-height: 26px;
}
.menu__card_txt_last {
    padding-top: 1.3rem;
    font-size: 14px;
    line-height: 22px;
}
.menu_first_btn {
    background-color: transparent;
    border: 1px solid #BBB4AE;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    padding: 1rem 4rem 1.5rem 5.0rem;
    text-align: center;
    margin-top: 1.3rem;
}
.menu_second_btn {
    background-color: transparent;
    border: 1px solid #BBB4AE;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    padding: 1rem 6.46rem 1.5rem 6.4rem;
    text-align: center;
    margin-top: 1rem;
}
.menu_first_btn:hover {
    background-color: #333333;
    color: #F6F5E8;
}
.menu_second_btn:hover {
    background-color: #333333;
    color: #F6F5E8;
}
.bottle {
    margin: 0;
    padding: 0;
    background-color: #CFC7C0;
}
.bottle__container {
    display: flex;
    justify-content: space-between;
    padding-top: 7rem;
    margin: 0 5rem;
    padding-bottom: 2rem;
}
.bottle__content img {
    padding-bottom: .5rem;
}
.bottle__content p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}
.horizontal_hr {
    border-bottom: 2px solid #3C3A38;
}
.spray {
    margin: 0;
    padding: 0;
    background-color: #CFC7C0;

}
.spray__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12.3rem;
    padding-top: 11.8rem;
}
.spray__card {
    color: #333333;
    text-align: left;
    margin-left: 5rem;
    margin-right: 7.5rem;
}
.spray__card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 1.5rem;
}
.spray__card h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}
.spray_btn {
    background-color: transparent;
    border: 1px solid #BBB4AE;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    padding: 1.25rem 3rem 1.25rem 3.0rem;
    text-align: center;
    margin-top: 1.3rem;
    background-image: url(./img/arrowright.png);
    background-repeat: no-repeat;
    background-position: right 1rem center;
}
.spray_btn:hover {
    background-color: #333333;
    color: #F6F5E8;
}
.spray_btn.active {
    padding: 1.25rem 15.35rem 1.25rem 1.5rem;
    text-align: left;
}
.about__spray {
    text-align: center;
    color: #333333;
    max-width: 42.5rem;
    margin: 0 auto;
}
.about__spray p {
    font-size: 14px;
    line-height: 28px;  
}
.about__spray h2 {
    font-size: 30px;
    line-height: 40px;  
}
.footer {
    background-color: #252525;
    margin: 0;
    padding: 0;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3.75rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.footer_input {
    background: transparent;
    text-align: left;
    padding: .1rem 16rem .1rem .5rem;
    border: 1px solid #FFFEF2; 
    background-image: url(./img/arrowright2.png);
    background-repeat: no-repeat;
    background-position: right 2rem center;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    color: #FFFEF2;
}
.footer__content {
    width: 15rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    color: #FFFEF2;
    text-align: left;
}
.footer_h {
    border-bottom: 1px solid  #C8C7BE;
}
.footer__content.active {
    width: 100%;
    max-width: 32.5rem;
}
.footer__content.social {
    margin-right: 18rem;
}
.footer__content.social a {
    color: #FFFEF2;
}
.footer__content.social a:hover {
    color: #daa520;
}
.arrow {
    background-image: url(./img/arrowtop.png);
    background-repeat: no-repeat;
    background-position: left 10rem center;
}
.foot_txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFEF2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 3rem;
}